*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mainContainer {
  margin: 0 1%;
}

@media (min-width: 768px) {
  .mainContainer {
    margin: 0 15%;
  }
}
