.subNav {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 0.5em;
  :nth-child(n) {
    margin-left: 1em;
  }

  .search {
    margin-left: 0;
    width: 50%;
    padding-left: 1%;
    font-size: 1em;
    text-align: left;
  }

  .sortBy,
  .limit {
    font: inherit;
  }
}
