.bookList {
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 70vh;
  overflow-y: scroll;

  li {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 1em;

    .bookDescriptions {
      .notes {
        max-height: 3em;
        overflow: scroll;
      }
    }

    .bookModifiers {
      display: flex;
      justify-content: flex-end;
    }
  }

  @media (max-width: 992px) {
    li:nth-child(odd) {
      background-color: rgb(176, 214, 255);
    }
  }

  @media (min-width: 992px) and (max-width: 1450px) {
    grid-template-columns: repeat(2, 1fr);

    li:nth-child(4n - 3),
    li:nth-child(4n) {
      background-color: rgb(176, 214, 255);
    }
  }

  @media (min-width: 1450px) {
    grid-template-columns: repeat(3, 1fr);

    li:nth-child(odd) {
      background-color: rgb(176, 214, 255);
    }
  }
}
