.bookList {
  display: grid;
  gap: 1em 2em;
  height: 70vh;
  overflow-y: scroll;
  border-bottom: 1px solid black;

  li {
    margin-bottom: 0.5em;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    .bookModifiers {
      display: flex;
      justify-content: flex-end;
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1450px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
