.bookList {
  display: grid;
  // gap: 1em 2em;
  height: 70vh;
  overflow-y: scroll;
  border-bottom: 1px solid black;

  li {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 1em;

    .bookModifiers {
      display: flex;
      justify-content: flex-end;
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
    li:nth-child(4n - 3),
    li:nth-child(4n) {
      background-color: rgb(176, 214, 255);
    }
  }

  @media (min-width: 1450px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
