.mainNav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 2em;

  .authHeader {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    li {
      margin-left: 10px;
    }
  }
}
