ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.authHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  li {
    margin-left: 10px;
  }
}
